* {
  box-sizing: border-box;
  padding: 5px;
  margin: 5px;
}

.container {
  max-width: 900px;
  margin: 5px;
  overflow: auto;
  padding: 10px 10px;
}

body   {
  background-color: black;        
}

.button {
  background-color: skyblue;                                         
}

#gameArea {
  position: absolute;
  width: 350px;
  height: 500px;
  background-color: skyblue;
}

#plane {
  position: absolute;
  top: 455px;
  left: 165px;                                 
}

.jumper {
  position: absolute;
  margin-top: 0;     
}    

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color:darkblue;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin: 10px;
}
/* Navbar */
.navbar {
  background-color: grey;
  color: #fff;
  height: 100px;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: whitesmoke;
  padding: 10px;
  margin: 5px;
}

.navbar a:hover {
  border-bottom: 2px #fff solid;
}

.navbar .flex {
  justify-content: space-between;
}
